@using Walpy.VacancyApp.Server.Models;

@model VacancyResponse

@functions{
    string[] GetDescriptionView(string descriptonValue)
    {
        return descriptonValue.Split('\n');
    }
}

@Html.Partial("_IdAnnotation", @Model.Id)

<table class="table">
    <tbody>
        <tr>
            <th>@(Html.DisplayNameFor(model => model.Title))</th>
            <td>@(Html.DisplayFor(model => model.Title))</td>
        </tr>
        <tr>
            <th>@(Html.DisplayNameFor(model => model.Salary))</th>
            <td>@(Html.DisplayFor(model => model.Salary))</td>
        </tr>
        <tr>
            <th>@(Html.DisplayNameFor(model => model.EmploymentType))</th>
            <td>
                @{
                    if(Model.EmploymentType == null || Model.EmploymentType.Count == 0)
                    {
                        <i>ничего не указано</i>
                    }
                    else
                    {
                        @(String.Join(
                            ", ",
                            Model.EmploymentType.ToList().ConvertAll((enumValue) => enumValue.ToDisplayName(typeof(EmploymentType)))
                        ))
                    }
                }
            </td>
        </tr>
        <tr>
            <th>@(Html.DisplayNameFor(model => model.Organization))</th>
            <td>@(Model.Organization.Name)</td>
        </tr>
        <tr>
            <th>@(Html.DisplayNameFor(model => model.Description))</th>
            <td>
                @{
                    var lines = GetDescriptionView(Model.Description);
                    foreach(var line in lines)
                    {
                        @(line)<br />
                    }
                }
            </td>
        </tr>
        <tr>
            <th>@(Html.DisplayNameFor(model => model.ContactPhone))</th>
            <td>@(Html.DisplayFor(model => model.ContactPhone))</td>
        </tr>
        <tr>
            <th>@(Html.DisplayNameFor(model => model.ContactPerson))</th>
            <td>
                @{
                    var fullName = Model.ContactPerson.Name;

                    if (Model.ContactPerson.Surname != null)
                    {
                        fullName += $" {Model.ContactPerson.Surname}";
                    }

                    if (Model.ContactPerson.MiddleName != null)
                    {
                        fullName += $" {Model.ContactPerson.MiddleName}";
                    }

                    @(fullName)
                }
            </td>
        </tr>
        <tr>
            <th>
                @(Html.DisplayNameFor(model => model.LastUpdated))
            </th>
            <td>
                @(Model.LastUpdated.ToViewDateTime())
            </td>
        </tr>
        <tr>
            <th>
                @(Html.DisplayNameFor(model => model.CreatedAt)):
            </th>
            <td>
                @(Model.CreatedAt.ToViewDateTime())
            </td>
        </tr>
    </tbody>
</table>