@model VacancyResponse

@{
    ViewData["Title"] = "Edit";
}

@functions{
    int GetDescriptionLineCount(string description)
    {
        return description.Split("\n").Length;
    }

    string MirrorStringChar(string value)
    {
        return value.Replace("`", "\\`");
    }
}

<h1>Изменение вакансии</h1>

@Html.Partial("_IdAnnotation", @Model.Id)

<form asp-action="Edit">
    <div class="form-group">
        <input type="hidden" asp-for="Id" class="form-control" disabled />
        <input type="hidden" asp-for="Organization.Id" disabled />
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </td>
                    <td>
                        <label asp-for="Salary" class="control-label"></label>
                        <input asp-for="Salary" class="form-control" />
                        <span asp-validation-for="Salary" class="text-danger"></span>
                    </td>
                    <td>
                        <label asp-for="EmploymentType"></label>
                        <select class="form-control custom-select" asp-for="EmploymentType">
                            <option value="FullTime" asp-for="EmploymentType.FullTime">Полный рабочий день</option>
                            <option value="PartialTime" asp-for="EmploymentType.PartialTime">Частичная занятость</option>
                            <option value="FixedScheldure" asp-for="EmploymentType.FixedSchelure">Постоянный график</option>
                            <option value="FlexibleScheldure" asp-for="EmploymentType.FlexibleScheldure">Гибкий график</option>
                            <option value="ShiftScheldure" asp-for="EmploymentType.ShiftScheldure">Сменный график</option>
                            <option value="RemoteMethod" asp-for="EmploymentType.RemoteMethod">Удаленная работа</option>
                            <option value="ShiftMethod" asp-for="EmploymentType.ShiftMethod">Вахтовый метод</option>
                        </select>
                        <span asp-validation-for="EmploymentType" class="text-danger"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <label asp-for="Organization" class="control-label"></label>
        <input asp-for="Organization.Name" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        @{
            @Html.TextAreaFor(
                model => Model.Description,
                rows: GetDescriptionLineCount(Model.Description),
                columns: 0,
                htmlAttributes: new {
                    Class = "form-control" });
        }
        </textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <table class="table">
            <thead>
                <tr>
                    <td colspan="3">
                        <label asp-for="ContactPerson" class="control-label "></label>
                        <span asp-validation-for="ContactPerson" class="text-danger"></span>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label asp-for="ContactPerson.Name" class="control-label"></label>
                        <input asp-for="ContactPerson.Name" class="form-control" />
                        <span asp-validation-for="ContactPerson.Name" class="text-danger"></span>
                    </td>
                    <td>
                        <label asp-for="ContactPerson.Surname" class="control-label"></label>
                        <input asp-for="ContactPerson.Surname" class="form-control" />
                        <span asp-validation-for="ContactPerson.Surname" class="text-danger"></span>
                    </td>
                    <td>
                        <label asp-for="ContactPerson.MiddleName" class="control-label"></label>
                        <input asp-for="ContactPerson.MiddleName" class="form-control" />
                        <span asp-validation-for="ContactPerson.MiddleName" class="text-danger"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <label asp-for="ContactPhone" class="control-label"></label>
        <input asp-for="ContactPhone" class="form-control" />
        <span asp-validation-for="ContactPhone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <label asp-for="CreatedAt" class="control-label"></label>:
                        @(new DateTime(Model.CreatedAt).ToString())
                    </td>
                    <td>
                        <label asp-for="LastUpdated" class="control-label"></label>:
                        @(new DateTime(Model.LastUpdated).ToString())
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        @Html.Partial("_BackNavigation")
        <button type="submit" value="Update" class="btn btn-primary">Сохранить</button>
    </div>
</form>

@Html.Partial("_ValidationScriptsPartial")