@model IndexDataModel

@{
    ViewData["Title"] = "Vacancy";
}

@if(Model.HasStatus)
{
    <p class="@(Model.Status.Success ? "alert-success" : "alert-danger")">
        @(Model.Status.Message)
    </p>
}

<h1>Управление вакансиями</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать новую</a>
</p>

@if (@Model.Data.Count > 0)
{
    var data = @Model.Data.First();
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => data.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => data.Salary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => data.Organization)
                </th>
                <th>
                    @Html.DisplayNameFor(model => data.CreatedAt)
                </th>
                <th>
                    Управление
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Data) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization.Name)
                </td>
                <td>
                    @(new DateTime(item.CreatedAt).ToString())
                </td>
                <td>
                    @Html.Partial("_Button", new ButtonData { ActionType = ButtonDataAction.View, VacancyId = @item.Id })
                    @Html.Partial("_Button", new ButtonData { ActionType = ButtonDataAction.Edit, VacancyId = @item.Id })
                    @Html.Partial("_Button", new ButtonData { ActionType = ButtonDataAction.Delete, VacancyId = @item.Id })
                </td>
            </tr>
    }
        </tbody>
    </table>
}
else
{
    <p class="text-center text-lowercase text-info blockquote">Никаких вакансий <i>пока</i> нет</p>
}