@model VacancyResponse

@{
    ViewData["Title"] = "Details";
}

<h1>Подробности вакансии</h1>

@Html.Partial("_ViewVacancy", @Model)

@Html.Partial("_Button", new ButtonData { ActionType = ButtonDataAction.Edit, VacancyId = @Model.Id })
@Html.Partial("_Button", new ButtonData { ActionType = ButtonDataAction.Delete, VacancyId = @Model.Id })

@Html.Partial("_BackNavigation")